PORT=9090
PUBLIC_BASE_URL=http://localhost:9090

# Minio storage
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=myminioadmin
MINIO_SECRET_KEY=
MINIO_BUCKET=

DB_URL=postgres://xxxx:xxxx@localhost:5432/geotileify?sslmode=disable

REDIS_URL=redis://localhost:6379
